@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-black: var(--black);
  --color-neutral-black: var(--neutral-black);
  --color-white: var(--white);
  --color-neutral-gray-1: var(--neutral-gray-1);
  --color-neutral-gray-2: var(--neutral-gray-2);
}

:root {
  --primary: #d87d4a;
  --accent: #fbaf85;
  --hero: #191919;
  --black: #000000;
  --neutral-black: #101010;
  --white: #ffffff;
  --neutral-gray-1: #f1f1f1;
  --neutral-gray-2: #fafafa;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.shop-link::after {
  content: url("data:image/svg+xml,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.32178 1L6.32178 6L1.32178 11' stroke='%23D87D4A' stroke-width='2'/%3e%3c/svg%3e");
  width: 8px;
  height: 12px;
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: bold;
  transition: margin-left 0.2s ease-in-out;
}

.shop-link:hover::after {
  margin-left: 0.8rem;
}

body {
  background-color: var(--white);
}
